/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #484f4d;; color: #fff; text-shadow: none; }

a { 
	color: #797e7c;
	text-decoration: none;
	transition: 0.2s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}
a:visited { color: #797e7c; }
a:hover { color: #484f4d; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0; padding: 0 }
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

 
#container{
	max-width: 1000px;
	width: 92%;
	margin: 0 auto;
	padding: 0 4%;
}

#main{
	padding-top: 165px;
}

#main.pad{
	padding-top: 45px;
}

#site-navigation.fixed{
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 70%, rgba(255,255,255,0) 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 70%, rgba(255,255,255,0) 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 70%, rgba(255,255,255,0) 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.8, #FFFFFF), color-stop(1, rgba(255,255,255,0)));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 70%, rgba(255,255,255,0) 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 70%, rgba(255,255,255,0) 100%);
}

section{
	margin: 80px 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.2em;
	color: #797e7c;
}

h1{
	margin: 0;
	padding: 0;
}

#site-header{

	position: fixed;
	max-width: 1000px;
	width: 92%;
	height: 250px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 80%, rgba(255,255,255,0) 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 80%, rgba(255,255,255,0) 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 80%, rgba(255,255,255,0) 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.8, #FFFFFF), color-stop(1, rgba(255,255,255,0)));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 80%, rgba(255,255,255,0) 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 80%, rgba(255,255,255,0) 100%);

}

#site-title{
	background-image: url('img/site-title-bg.jpg');
	background-position: 1px top;
	margin-top: 49px;
	float: left;
}

#site-title a{
	background-image: url('img/site-title.png');
	background-color: rgba(57,199,158,0.5);
	background-position: top left;
	width: 422px;
	height: 114px;
	text-indent: -9000px;
	float: left;
}

#nav-holder{
	float:right;
	text-align: right;
}

.sec-header, #site-navigation a {
	font-size: 1em;
	text-transform: uppercase;
}

#site-navigation {
	padding-top: 50px;
}

#site-navigation a{
	display: inline-block;
	background: #39c79e url('img/nav-stroke.png') right bottom;
	padding-right: 15px;
	height: 15px;
}

#site-navigation a.current{
	color: #484f4d;
}

#social-links {
	position: absolute;
	right: 0;
	top: 0;
}

#social-links a{
	width: 27px;
	height: 27px;
	text-indent: 9000px;
	background: grey;
	display: block;
	float: right;
}

#social-links .linkedin{
	background-color: rgb(255,244,99);
	background-color: rgba(255,244,99,1);
	background-image:  url('img/ico-linkedin.png');
}

#social-links .pinterest{
	background-color: rgb(234,114,111);
	background-color: rgba(234,114,111,1);
	background-image: url('img/ico-pinterest.png');
}

#social-links .twitter{
	background-color: rgb(57,199,158);
	background-color: rgba(57,199,158,1);	
	background-image: url('img/ico-twitter.png');
}

#social-links .facebook{
	background-color: rgb(132,191,244);
	background-color: rgba(132,191,244,1);
	background-image: url('img/ico-facebook.png');
}

#social-links .linkedin:hover{
	background-color: rgba(255,244,99,0.6);
}

#social-links .pinterest:hover{
	background-color: rgba(234,114,111,0.8);
}

#social-links .twitter:hover{
	background-color: rgba(57,199,158,0.8);	
}

#social-links .facebook:hover{
	background-color: rgba(132,191,244,0.8);
}

#site-navigation{
	clear: both;
}

#site-navigation .last{
	background: transparent;
	margin: 0;
	padding: 0;
}

.sec-header{
	border-bottom: 15px solid #39c79e;
	width: 20%;
	padding-bottom: 0.5em;
}

p, li, dd, dt{
	font-weight: 300;
	font-size: 2.2em;
	line-height: 1.5em;
}


li, dd{
	width: 44%;
	list-style: none;
	float: left;
	font-size: 1.83em;
	background: url('img/li-border.gif') no-repeat top left;
	background-size: 45.54% 1px;
	padding: 1em 0;
	margin: 1em 40px 0 0;
}

li.last, dd.last{
	margin-right: 0;
}

p, dl, ul{
	padding: 0;
	margin: 0.1em 0;
}

#main a{
	border-bottom: 2px solid #39c79e;
	padding-bottom: 0.15em;
}

#main a:hover{
	border-color: #484f4d;
}

.phone-link{
	display: block;
	float: left;
	margin-top: 0.4em;
}

/*
 *
 * 	SECTION SPECIFIC COLOURS
 *
 */


/* ABOUT */

body.about #site-title a{
	background-color: rgba(57,199,158,0.4);
}


body.about #site-navigation a:not(.last){
	background-color: #39c79e;
}

body.about .sec-header, body.about #main a {
	border-color: #39c79e;
}

body.about #main a:hover {
	border-color: #484f4d;
}


/* PROJECTS */

body.projects #site-title a{
	background-color: rgba(132,191,244,0.4);
}

body.projects #site-navigation a:not(.last){
	background-color: #84bff4;
}

body.projects .sec-header, body.projects #main a {
	border-color: #84bff4;
}

body.projects #main a:hover {
	border-color: #484f4d;
}


/* CONTACT */

body.contact #site-title a{
	background-color: rgba(255,244,99,0.6);
}

body.contact #site-navigation a:not(.last){
	background-color: #d7ce53;
}

body.contact .sec-header, body.contact #main a {
	border-color: #fff463;
}

body.contact #main a:hover {
	border-color: #484f4d;
}



/* JOBS */

body.jobs #site-title a{
	background-color: rgba(234,114,111,0.4);
}

body.jobs #site-navigation a:not(.last){
	background-color: #ea726f;
}

body.jobs .sec-header, body.jobs #main a {
	border-color: #ea726f;
}

body.jobs #main a:hover {
	border-color: #484f4d;
}

/* TRANSITIONS FOR THESE */

#site-title a{
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

#site-navigation a:not(.last){
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

.sec-header, body.jobs #main a {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  #nav-holder{
  	float: none;
  	text-align: left;
  }
  #site-navigation{
  	padding-top: 30px;
  }
  
  #site-header{
  	height: 265px;
  }
  
  .sec-header{
  	width: 44%;
  }
  li, dd{
  	background-size: 100% 1px;
  }

}

@media only screen and (max-width: 465px) {
	body{
		font-size: 12px;
	}
	
	p, li, dd, dt {
		font-weight: 300;
		font-size: 1.7em;
		line-height: 1.5em;
	}
	
	li, dd {
		font-weight: 300;
		font-size: 1.4em;
		line-height: 1.5em;
	}
	
	#site-header{
		position: static;
		width: 100%;
		height: auto;
	}
	
	#social-links{
		right: 10%;
	}
	
	#main{
		padding-top: 0;
	}
	
	#main > section{
		margin: 40px 0;
	}
	
	#site-title a{
		background: url('img/site-title-static.png') no-repeat;
		background-size: 100% auto;
		width: 100%;
		padding-top: 27%;
		height: 0;
	}
	
	#site-title{
		background: transparent;
		width: 100%;
	}
	
	li, dd{
  		width: 100%;
  		margin-right: 0;
	}
	
	li.last, dd.last{
  		margin-top: 0;
	}
	
	#container{
		width: 80%;
	}
	#site-navigation{
		display: none;
	}
	
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
